<% provide(:title, "About")%>
<h1>About</h1>
<p>
	This app is an attempt to refresh myself on Ruby on Rails and to add services to expand my knowledge of RoR.
	Through constant expansion, I will be putting into practice agile methodologies to practice for real world scenarios.
</p>
