<% provide(:title, "Home")%>
<h1>Rails Sample Blog</h1>
<p>
	Welcome to the blog built by Parker Mathewson using Ruby on Rails and using SQL as the database!
	Feel free to sign up and subscribe to the blog to get updates and new posts!
</p>
